<div class="list">
  <div class="card">
    <h1>yossi blashnikov</h1>
    <h3>llachet laetpll laetpll laetpll laetpll</h3>
  </div>
  <div class="card">
    <h1>chani blashnikov</h1>
    <h3>llachet laetpll laetpll laetpll laetpll</h3>
  </div>
  <div class="card">
    <h1>moti blashnikov</h1>
    <h3>llachet laetpll laetpll laetpll laetpll</h3>
  </div>
  <div class="card">
    <h1>tel blashnikov</h1>
    <h3>llachet laetpll laetpll laetpll laetpll</h3>
  </div>
  <div class="card">
    <h1>yossi blashnikov</h1>
    <h3>llachet laetpll laetpll laetpll laetpll</h3>
  </div>
  <div class="card">
    <h1>yossi blashnikov</h1>
    <h3>llachet laetpll laetpll laetpll laetpll</h3>
  </div>
</div>
